@import url('base.css');

.cabecalho {
    width: 360px;
    padding: 20px;
    border: 1px solid var(---color-separation-1);
    border-radius: 20px;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: .5em;
}
