$color-separation-1: #2b2a2a52;
$color-separation-2: #2a2c2f;

$primary: #243261;
$primary-shadow: #1c2850;

$background-1: rgb(251, 253, 255);
$background-2: rgb(228, 242, 255);



body,
html {
    background-image: linear-gradient($background-1, $background-2);
    padding: 0;
    margin: 0;
    width: 100%;
    min-height: 100vh;
    font: 14px sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

main {
    width: 100%;
    padding: 2em;
    flex-grow: 100;
    margin: 1em 2em;
}

.center {
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

th,
td {
    text-align: center;
    vertical-align: middle;
}

header {
    background-image: linear-gradient($primary, $primary-shadow);
    width: 100%;
    color: white;
    border-bottom: 1px solid $color-separation-2;
    padding: 0.5em 1.5em;
    display: flex;
    align-items: center;
}

header h1 {
    margin: 0 0 0 0.5em;
}

footer {
    background-image: linear-gradient($primary-shadow, $primary);
    width: 100%;
    border-top: 1px solid $color-separation-2;
    padding: 0.7em;
    text-align: center;
}

footer > p {
    margin: 1em 0;
}

.back-link {
    border: solid 1px $color-separation-1;
    display: inline-block;
    padding: 0.3em 0.6em;
    border-radius: 0.3em;
    margin: 0 0 1em 1em;
}

.back-link a:hover{
    text-decoration: none;
}

@mixin coloums($media, $amount) {
    @for $i from 1 to $amount + 1 {
        .col-#{$media}-#{$i} {
            width: calc($i * 100% / $amount);
        }
    }
}

@include coloums(d, 16);

@media screen and (width < 480px) {
    @include coloums(m, 6);
}
